# ===============================
# Core Web App + UI
# ===============================
streamlit==1.32.0

# ===============================
# Blockchain (Ganache / Ethereum)
# ===============================
web3==6.11.4

# ===============================
# IPFS Upload (Pinata API)
# ===============================
requests==2.31.0

# ===============================
# Cryptography (AES + RSA)
# ===============================
pycryptodome==3.20.0

# ===============================
# File handling / Helpers
# ===============================
pathlib==1.0.1

